# Token do Bot Discord
DISCORD_TOKEN=seu_token_aqui

# ID do servidor Discord
GUILD_ID=id_do_servidor

# ID do canal de informações
INFO_CHANNEL_ID=id_do_canal_info

# ID do canal de alertas
ALERT_CHANNEL_ID=id_do_canal_alertas

# Categorias permitidas (separadas por vírgula)
PERMITTED_CATEGORIES=ponto,wl

# URL do GIF da rota
ROTA_GIF_URL=https://exemplo.com/rota.gif

# URL do ícone da rota
ROTA_ICON_URL=https://exemplo.com/rota-icon.png

# Senha para painel administrativo (comando !admin)
ADMIN_PASSWORD=admin123